@media (max-width: 1024px) {
  .useful {
    &__descr {
      font-size: 16px;
      line-height: 21.79px;
    }
  }   
}

@media (max-width: 930px) {
  .useful {
    padding-top: 44px;

    &__image {
      height: 202px;
      width: 100%;
    }

    &__info {
      min-height: 253px;
    }
  }   
}

