$main-color: #333333;
$purple-color: #A65CF0;
$purple-light-color: #C998FB;
$purple-shade-color: #7033AC;
$pink-violet-color: #EBD1FF;
$pink-light-color: #F8EFFF;
$white-color: #FFFFFF;
$orange-color: #FF862F;
$orange-light-color: #FFBD59;
$orange-focus-color: #FFF5D1;
$orange-shade-color: #BB370E;
$grey-color: #999999;
$grey-light-color: #F6F6F6;
$grey-shade-color: #666666;
$grey-hover-color: #EAEAEA;
$orange-color: #FF862F;
$price-color: #666666;
$error-color: #FF6972;
$gutter: 32px;
$gutter-mobile: 16px;
